<h2>Motos Tandil - Todo lo que necesita un motero</h2>
<div class="container">
   <h4>Contacto</h4>
   <div>
      <div class="lista">
         <ul class="list-group">
            <li class="list-group-item">FaceBook: facebook.com/motosTandil</li>
            <li class="list-group-item">Instagram: instagram.com/motosTandil</li>
            <li class="list-group-item">WhatsApp: 2494-3268746</li>
            <li class="list-group-item">Correo: tiendamotostandil&#64;gmail.com</li>   
          </ul>
      </div>   
   </div>
  
</div>