<table>
    <thead>
    <tr>
        <th>Imagen</th>
        <th>Descripcion</th>
        <th>Talle</th>
        <th>Precio</th>
        <th>Stock</th>
    </tr>
</thead>
    <tbody>
        <tr>
            <td><img [src]="accesorio.imagen" [alt]="accesorio.descripcion"/></td>
            <td>{{accesorio.descripcion}}</td>
            <td>{{accesorio.talle}}</td>
            <td>{{accesorio.precio}}</td>
            <td>{{accesorio.stock}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Casco</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Remera</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
